In [1]:
import pandas as pd

In [2]:
data = pd.read_html('https://www.zipcodestogo.com/Washington/')

ImportError: lxml not found, please install it

In [32]:
df_unclean = data[1]

In [36]:
df_unclean.head(20)

,0,1,2,3
0,Zip Codes for the State of Washington,Zip Codes for the State of Washington,Zip Codes for the State of Washington,Zip Codes for the State of Washington
1,Zip Code,City,County,Zip Code Map
2,98001,Auburn,King,View Map
3,98002,Auburn,King,View Map
4,98003,Federal Way,King,View Map
5,98004,Bellevue,King,View Map
6,98005,Bellevue,King,View Map
7,98006,Bellevue,King,View Map
8,98007,Bellevue,King,View Map
9,98008,Bellevue,King,View Map
10,98009,Bellevue,King,View Map
11,98010,Black Diamond,King,View Map
12,98011,Bothell,King,View Map
13,98012,Bothell,Snohomish,View Map
14,98013,Burton,King,View Map
15,98014,Carnation,King,View Map
16,98015,Bellevue,King,View Map
17,98019,Duvall,King,View Map
18,98020,Edmonds,Snohomish,View Map
19,98021,Bothell,Snohomish,View Map

In [48]:
df_unclean.loc[2:, :].reset_index(drop=True)

         0            1            2         3
0    98001       Auburn         King  View Map
1    98002       Auburn         King  View Map
2    98003  Federal Way         King  View Map
3    98004     Bellevue         King  View Map
4    98005     Bellevue         King  View Map
..     ...          ...          ...       ...
727  99363      Wallula  Walla Walla  View Map
728  99371    Washtucna        Adams  View Map
729  99401      Anatone       Asotin  View Map
730  99402       Asotin       Asotin  View Map
731  99403    Clarkston       Asotin  View Map

[732 rows x 4 columns]

In [49]:
df = pd.DataFrame(df_unclean.loc[2:, :].reset_index(drop=True).values, columns=df_unclean.loc[1, :].values)
df

    Zip Code         City       County Zip Code Map
0      98001       Auburn         King     View Map
1      98002       Auburn         King     View Map
2      98003  Federal Way         King     View Map
3      98004     Bellevue         King     View Map
4      98005     Bellevue         King     View Map
..       ...          ...          ...          ...
727    99363      Wallula  Walla Walla     View Map
728    99371    Washtucna        Adams     View Map
729    99401      Anatone       Asotin     View Map
730    99402       Asotin       Asotin     View Map
731    99403    Clarkston       Asotin     View Map

[732 rows x 4 columns]

In [51]:
list_cities = ['Auburn', 'Burien', 'Covington', 'Des Moines', 'Enumclaw', 'Federal Way', 'Kent', 
               'Maple Valley', 'Normandy Park', 'Renton', 'Tukwila', 'SeaTac', 'Vashon']

In [54]:
filtered_df = df[df.City.isin(list_cities)]
filtered_df

   Zip Code          City County Zip Code Map
0     98001        Auburn   King     View Map
1     98002        Auburn   King     View Map
2     98003   Federal Way   King     View Map
18    98022      Enumclaw   King     View Map
19    98023   Federal Way   King     View Map
26    98030          Kent   King     View Map
27    98031          Kent   King     View Map
28    98032          Kent   King     View Map
31    98035          Kent   King     View Map
34    98038  Maple Valley   King     View Map
38    98042          Kent   King     View Map
48    98055        Renton   King     View Map
49    98056        Renton   King     View Map
50    98057        Renton   King     View Map
51    98058        Renton   King     View Map
52    98059        Renton   King     View Map
55    98063   Federal Way   King     View Map
56    98064          Kent   King     View Map
59    98070        Vashon   King     View Map
60    98071        Auburn   King     View Map
69    98089          Kent   King     View Map
70    98092        Auburn   King     View Map
71    98093   Federal Way   King     View Map

In [ ]:
df_filtered = df[list_cities.contains(df[1])]

df.loc

In [ ]:
list_cities = ['Auburn', 'Burien', 'Covington', 'Des Moines', 'Enumclaw', 'Federal Way', 'Kent', 'Maple Valley', 'Normandy Park', 'Renton', 'Tukwila', 'SeaTac', 'Vashon']